:root {
    --background: rgba(0, 0, 0, 0.1);
}

* {
    padding: 0;
    margin: 0;
    color: white;
}

*:focus {
    outline: none;
}

html {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
}

#root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background);
}

div {
    position: relative;
}

/* =========================
        HEADER
========================= */
header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(34, 34, 34);
    padding: 1rem 4rem 1rem 4rem;
    z-index: 10;
}

header .float-right {
    margin-right: 8rem;
    float: right;
}

header a,
header a:visited {
    text-align: center;
    color: rgb(126, 126, 126);
    margin-left: 1.5rem;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

header a:hover {
    color: rgb(255, 255, 255);
}

/* =========================
        MAIN APP
========================= */
.app {
    margin: 6rem 0 3rem 0;
    position: relative;
    flex: 1 0 auto;
    padding: 0 4rem 0 4rem;
}

.link {
    display: inline;
    text-decoration: none;
}

.inline {
    display: inline;
}

input[type = 'text'],
input[type = 'password'] {
    font-weight: normal;
    background: transparent;
    border: none;
    border-bottom: 2px solid #393d53;
    transition: 0.5s;
    padding: 0.5rem;
}

input[type = 'submit'] {
    font-weight: normal;
    background: transparent;
    border: 2px solid #393d53;
    padding: 0.5rem;
}

input[type = 'text']:focus,
input[type = 'password']:focus {
    border-bottom: 2px solid white;
}

.heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.section {
    padding: 0.75rem 1rem 0.75rem 1rem;
    /* background-color: rgb(54, 54, 54); */
    border: 2px solid rgb(54, 54, 54);
}

.dropdown-header {
    background-color: orange;
}

.dropdown-content {
    
}

.row {
    margin-bottom: 1rem;
}

.vertical {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vertical > .section {
    width: 45%;
}

.hidden {
    display: none;
}

.day {
    width: calc(100% / 7 - 10px);
}

.day-heading {
    padding: 0.5rem;
    background-color: grey;
    text-align: center;
}

.day-container {
    position: relative;
}

.class {
    position: absolute;
    background-color: black;
    width: 100%;
    z-index: 1;
}

.hour {
    width: 100%;
    box-shadow: inset 0px 1px 1px -1px white;
}

/* =========================
        FOOTER
========================= */
footer {
    font-size: 0.95rem;
    padding: 2rem 4rem 1rem 4rem;
}

footer * {
    color: rgb(126, 126, 126);
}

footer .nav-links {
    margin-right: 1rem;
    float: right;
}

footer a,
footer a:visited {
    text-align: center;
    color: rgb(126, 126, 126);
    margin-left: 1.5rem;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

footer a:hover {
    color: rgb(255, 255, 255);
}