* {
    padding: 0;
    margin: 0;
    color: white;
}

*:focus {
    outline: none;
}

html {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
}

#root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
}

/* =========================
        HEADER
========================= */
header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(34, 34, 34);
    padding: 1rem 0 1rem 0;
}

header .nav-links {
    margin-right: 1rem;
    float: right;
}

header a,
header a:visited {
    text-align: center;
    color: rgb(126, 126, 126);
    margin-left: 1.5rem;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

header a:hover {
    color: rgb(255, 255, 255);
}

header .brand {
    padding-left: 1rem;
    font-weight: bold;
}

/* =========================
        MAIN APP
========================= */
.app {
    margin-top: 3rem;
    position: relative;
    flex: 1 0 auto;
    padding: 1rem;
}

.link {
    display: inline;
    text-decoration: none;
}

.inline {
    display: inline;
}

input[type = 'text'],
input[type = 'password'] {
    font-weight: normal;
    background: transparent;
    border: none;
    border-bottom: 2px solid #393d53;
    transition: 0.5s;
    padding: 0.5rem;
}

input[type = 'submit'] {
    font-weight: normal;
    background: transparent;
    border: 2px solid #393d53;
    padding: 0.5rem;
}

input[type = 'text']:focus,
input[type = 'password']:focus {
    border-bottom: 2px solid white;
}

/* =========================
        FOOTER
========================= */
footer {
    padding: 2rem 1rem 1rem 1rem;
}

footer * {
    color: rgb(126, 126, 126);
}

footer .nav-links {
    margin-right: 1rem;
    float: right;
}

footer a,
footer a:visited {
    text-align: center;
    color: rgb(126, 126, 126);
    margin-left: 1.5rem;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

footer a:hover {
    color: rgb(255, 255, 255);
}